#splashVid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;
}

.videoText{
    transition:left 1s;
}

.homeSubtitle {
    font-size: 2.5vw     !important;
}

.homeTitle {
    font-size: 5.5vw !important;
}

@media screen and ( max-height: 650px ) 
{
    .homeSubtitle {
        font-size:1.8vw !important;
    }
    .homeTitle {
        font-size:4.2vw !important;
    }
   
}