
.cavaleLogoGoldMobile {
    display:block;
    width:50%;     
    filter: invert(90%) sepia(71%) saturate(1219%) hue-rotate(310deg) brightness(114%) contrast(106%);
    top:40px;
    position:relative;

}
.cavaleLogoMobile {
    display:block;
    width:50%;
    filter: invert(3%) sepia(5%) saturate(5910%) hue-rotate(5deg) brightness(94%) contrast(84%);
    top:-40px;
    position:relative;

}

.mobileMenuList {
    display:flex;
    justify-content:center;
    padding:0 !important;
    
}

.mobileHeaderIcons {
    width:.8em;
    padding-right:.2em;

}

.mobileContactText span{
    font-size: .7em !important;
    padding-right:1.2em;
}

.mobileProductText span{
    font-size: .7em !important;
    padding-right:1.2em;
}
