.video-wrapper {
    position: absolute;
  }
  
  .video-wrapper::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/cavallo_bg_mov_fallback.webp');
    background-size: cover;
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .video-wrapper.playing::before {
    opacity: 0;
  }

  #splashVid {
    position:absolute;
    top:0;
    left:0;
    height:100dvh;
    transition:all .5 ease-in;
  }

  @media (width <=1740px) {
    #splashVid {
      left:-20dvw;
    }
  }

  @media (width <=1024px) {
    #splashVid {
      left:-75dvw;
    }
  }

  @media (width <=768px) {
    #splashVid {
      left:-100dvw;
    }
  }

  @media (width <=500px) {
    #splashVid {
      left:-175dvw;
    }
  }